.menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-left: 36px;
    z-index: 10;
}

.menu__btn {
    padding: 11px 27px;
    background: linear-gradient(99.05deg, #BC3CD8 0.07%, #C54B8C 106.32%);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    margin-left: 30px;
}

.menu__link--active {
    background: linear-gradient(99.05deg, #C824EC 0.07%, #DF308D 106.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    font-weight: 700;
}

.menu__link--active::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    width: 9px;
    height: 3px;
    border-radius: 20px;
    background: white;
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.menu__img {
    width: 32px;
    margin-left: 33px;
    cursor: pointer;
    margin-right: 81px;
  }
  

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .menu {
        display: none;
    }
}